<div class="container-fluid">
    <h1 class="top-page-name-custom">Courses</h1>    
    <div class="row" style="margin-top: 20px;">
        <!-- angular start  -->
        <div class="col-lg-4 col-md-6 course-colums-custom">
            <div class="first-colum-out-div-custom">
                <img src="./assets/courses/angular.png" class="w-100 img-fluid img-custom">
                <div class="course-inside-content-custom">
                    <h1 class="course-heading-custom">ANGULAR</h1>
                    <div class="d-flex" style="margin-top: 20px;">
                        <span class="course-status-icon-custom">
                        <i class="fa fa-cart-plus"></i>
                        </span>
                        <h1 class="course-status-headings-custom">231<br>Sales</h1>
                        <span class="course-status-icon-custom padding-custom">
                        <i class="fa fa-heart-o"></i>
                        </span>
                        <h1 class="course-status-headings-custom">102<br>likes</h1>
                        <span class="course-status-icon-custom padding-custom">
                        <i class="fa fa-commenting-o"></i>
                        </span>
                        <h1 class="course-status-headings-custom">47<br>comments</h1>
                    </div>
                    <p class="course-describtion-custom">
                        Lorem ipsum dolor sit, consectetur adipiscing enim elit,
                        sed do eiusmod tempor incididunt ut labore enim  magna aliqua. 
                        Ut enim ad minim sed do eiusmod tempor
                    </p>
                    <div class="course-btn-div-custom">
                        <button class="btn course-btn-custom-1">Edit</button>
                        <button class="btn course-btn-custom-2">Analytics</button>
                        <button class="btn course-btn-custom-2">Review</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- angular end -->
        <!-- html and css start  -->
        <div class="col-lg-4 col-md-6 course-colums-custom media-custom">
            <div class="first-colum-out-div-custom">
                <img src="./assets/courses/html.jpg" class="w-100 img-fluid img-custom">
                <div class="course-inside-content-custom">
                    <h1 class="course-heading-custom">HTML CSS</h1>
                    <div class="d-flex" style="margin-top: 20px;">
                        <span class="course-status-icon-custom">
                        <i class="fa fa-cart-plus"></i>
                        </span>
                        <h1 class="course-status-headings-custom">231<br>Sales</h1>
                        <span class="course-status-icon-custom padding-custom">
                        <i class="fa fa-heart-o"></i>
                        </span>
                        <h1 class="course-status-headings-custom">102<br>likes</h1>
                        <span class="course-status-icon-custom padding-custom">
                        <i class="fa fa-commenting-o"></i>
                        </span>
                        <h1 class="course-status-headings-custom">47<br>comments</h1>
                    </div>
                    <p class="course-describtion-custom">
                        Lorem ipsum dolor sit, consectetur adipiscing enim elit,
                        sed do eiusmod tempor incididunt ut labore enim  magna aliqua. 
                        Ut enim ad minim sed do eiusmod tempor
                    </p>
                    <div class="course-btn-div-custom">
                        <button class="btn course-btn-custom-1">Edit</button>
                        <button class="btn course-btn-custom-2">Analytics</button>
                        <button class="btn course-btn-custom-2">Review</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- html and css end -->
        <!-- groups start -->
        <div class="col-lg-4 course-colums-custom group-media-custom">
                <h1 class="last-colum-top-heading-custom">Group Discussion</h1>
                <span class="creat-group-heading-custom"> Creat Group
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
                <div class="d-flex last-colum-out-div-custom">
                    <div>
                        <img src="./assets/courses/group-img-1.png" class="last-colum-img-custom">
                    </div>
                    <div style="padding-left: 8px;" class="w-100">
                        <h1 class="last-colum-names-heading-custom-1">Angular</h1>
                        <span class="group-members-custom members-color-1">200K+</span>
                        <h1 class="last-colum-names-heading-custom-2">Front End Development</h1>
                    </div>
                </div>
                <div class="d-flex last-colum-out-div-custom">
                    <div>
                        <img src="./assets/courses/group-img-3.png" class="last-colum-img-custom">
                    </div>
                    <div style="padding-left: 8px;" class="w-100">
                        <h1 class="last-colum-names-heading-custom-1">Python</h1>
                        <span class="group-members-custom members-color-3">200K+</span>
                        <h1 class="last-colum-names-heading-custom-2">Back End Development</h1>
                    </div>
                </div>
                <div class="d-flex last-colum-out-div-custom">
                    <div>
                        <img src="./assets/courses/group-img-2.png" class="last-colum-img-custom">
                    </div>
                    <div style="padding-left: 8px;" class="w-100">
                        <h1 class="last-colum-names-heading-custom-1">HTML</h1>
                        <span class="group-members-custom members-color-2">303K+</span>
                        <h1 class="last-colum-names-heading-custom-2">Front End Development</h1>
                    </div>
                </div>
                <div class="d-flex last-colum-out-div-custom">
                    <div>
                        <img src="./assets/courses/group-img-4.png" class="last-colum-img-custom">
                    </div>
                    <div style="padding-left: 8px;" class="w-100">
                        <h1 class="last-colum-names-heading-custom-1">Node Js</h1>
                        <span class="group-members-custom members-color-4">83K+</span>
                        <h1 class="last-colum-names-heading-custom-2">Back End Development</h1>
                    </div>
                </div>
        </div>
        <!-- groups end -->
    </div>    
    <div class="row mt-5">
        <!-- node js start  -->
        <div class="col-lg-4 col-md-6 course-colums-custom">
            <div class="first-colum-out-div-custom">
                <img src="./assets/courses/node.png" class="w-100 img-fluid img-custom">
                <div class="course-inside-content-custom">
                    <h1 class="course-heading-custom">NODE JS</h1>
                    <div class="d-flex" style="margin-top: 20px;">
                        <span class="course-status-icon-custom">
                        <i class="fa fa-cart-plus"></i>
                        </span>
                        <h1 class="course-status-headings-custom">231<br>Sales</h1>
                        <span class="course-status-icon-custom padding-custom">
                        <i class="fa fa-heart-o"></i>
                        </span>
                        <h1 class="course-status-headings-custom">102<br>likes</h1>
                        <span class="course-status-icon-custom padding-custom">
                        <i class="fa fa-commenting-o"></i>
                        </span>
                        <h1 class="course-status-headings-custom">47<br>comments</h1>
                    </div>
                    <p class="course-describtion-custom">
                        Lorem ipsum dolor sit, consectetur adipiscing enim elit,
                        sed do eiusmod tempor incididunt ut labore enim  magna aliqua. 
                        Ut enim ad minim sed do eiusmod tempor
                    </p>
                    <div class="course-btn-div-custom">
                        <button class="btn course-btn-custom-1">Edit</button>
                        <button class="btn course-btn-custom-2">Analytics</button>
                        <button class="btn course-btn-custom-2">Review</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- node js end -->
        <!-- python start  -->
        <div class="col-lg-4 col-md-6 course-colums-custom python-media-custom">
            <div class="first-colum-out-div-custom">
                <img src="./assets/courses/python.jpg" class="w-100 img-fluid img-custom">
                <div class="course-inside-content-custom">
                    <h1 class="course-heading-custom">PYTHON</h1>
                    <div class="d-flex" style="margin-top: 20px;">
                        <span class="course-status-icon-custom">
                        <i class="fa fa-cart-plus"></i>
                        </span>
                        <h1 class="course-status-headings-custom">231<br>Sales</h1>
                        <span class="course-status-icon-custom padding-custom">
                        <i class="fa fa-heart-o"></i>
                        </span>
                        <h1 class="course-status-headings-custom">102<br>likes</h1>
                        <span class="course-status-icon-custom padding-custom">
                        <i class="fa fa-commenting-o"></i>
                        </span>
                        <h1 class="course-status-headings-custom">47<br>comments</h1>
                    </div>
                    <p class="course-describtion-custom">
                        Lorem ipsum dolor sit, consectetur adipiscing enim elit,
                        sed do eiusmod tempor incididunt ut labore enim  magna aliqua. 
                        Ut enim ad minim sed do eiusmod tempor
                    </p>
                    <div class="course-btn-div-custom">
                        <button class="btn course-btn-custom-1">Edit</button>
                        <button class="btn course-btn-custom-2">Analytics</button>
                        <button class="btn course-btn-custom-2">Review</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end end -->
        <!-- top performance start -->
        <div class="col-lg-4 course-colums-custom group-media-custom">
            <h1 class="last-colum-top-heading-custom">Top Performance Courses</h1>
            <div class="percent-colum-out-div-custom">
                <div class="d-flex">
                    <div>
                        <img src="./assets/courses/angular.png" class="top-perfo-img-custom">
                    </div>
                    <div style="padding-left: 8px;" class="w-100">
                        <h1 class="last-colum-names-heading-custom-1">Angular</h1>
                        <h1 class="last-colum-names-heading-custom-2">Front End Development</h1>
                    </div>
                </div>
                <div>
                    <div class="performance-percent-div-custom">
                        <h1 class="percent-heading-custom">61%</h1>
                        <div class="percent-fill-line-custam percentage-custom-1"></div>
                    </div>
                </div>
            </div>    
            <div class="percent-colum-out-div-custom">
                <div class="d-flex">
                    <div>
                        <img src="./assets/courses/html.jpg" class="top-perfo-img-custom">
                    </div>
                    <div style="padding-left: 8px;" class="w-100">
                        <h1 class="last-colum-names-heading-custom-1">HTML AND CSS</h1>
                        <h1 class="last-colum-names-heading-custom-2">Front End Development</h1>
                    </div>
                </div>
                <div>
                    <div class="performance-percent-div-custom">
                        <h1 class="percent-heading-custom">83%</h1>
                        <div class="percent-fill-line-custam percentage-custom-2"></div>
                    </div>
                </div>
            </div>
            <div class="percent-colum-out-div-custom">
                <div class="d-flex">
                    <div>
                        <img src="./assets/courses/node.png" class="top-perfo-img-custom">
                    </div>
                    <div style="padding-left: 8px;" class="w-100">
                        <h1 class="last-colum-names-heading-custom-1">Node Js</h1>
                        <h1 class="last-colum-names-heading-custom-2">Back End Development</h1>
                    </div>
                </div>
                <div>
                    <div class="performance-percent-div-custom">
                        <h1 class="percent-heading-custom">48%</h1>
                        <div class="percent-fill-line-custam percentage-custom-3"></div>
                    </div>
                </div>
            </div>    
            <div class="percent-colum-out-div-custom">
                <div class="d-flex">
                    <div>
                        <img src="./assets/courses/python.jpg" class="top-perfo-img-custom">
                    </div>
                    <div style="padding-left: 8px;" class="w-100">
                        <h1 class="last-colum-names-heading-custom-1">Python</h1>
                        <h1 class="last-colum-names-heading-custom-2">Back End Development</h1>
                    </div>
                </div>
                <div>
                    <div class="performance-percent-div-custom">
                        <h1 class="percent-heading-custom">78%</h1>
                        <div class="percent-fill-line-custam percentage-custom-4"></div>
                    </div>
                </div>
            </div>    
    </div>
    <!-- groups end -->
    </div>
</div>