<div class="container-fluid">
    <h1 class="top-page-name-custom">Dashboard</h1>
    <!-- status row -->
    <div class="row">        
        <div class="col-lg-3 col-md-6 col-sm-6 status-colum-custom mt-4">
            <div class="d-flex status-top-custom">
                <div class="">
                    <i class="fa fa-users status-icon-custom extra-student" aria-hidden="true"></i>
                </div>
                    <h1 class="statu-name-custom">
                    4230<br>
                    <small class="fw-light status-name-heading-custom ">All Students</small>
                </h1>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 status-colum-custom mt-4">
            <div class="d-flex status-top-custom">
                <div class="">
                    <i class="fa fa-user-plus status-icon-custom" aria-hidden="true"></i>
                </div>
                <h1 class="statu-name-custom">
                    863<br>
                    <small class="fw-light status-name-heading-custom">New Students</small>
                </h1>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 status-colum-custom mt-4">
            <div class="d-flex status-top-custom">
                <div class="">
                    <i class="fa fa-book status-icon-custom extra-course" aria-hidden="true"></i>
                </div>
                <h1 class="statu-name-custom">
                    50+<br>
                    <small class="fw-light status-name-heading-custom">Courses</small>
                </h1>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 status-colum-custom mt-4">
            <div class="d-flex status-top-custom">
                <div class="">
                    <i class="fa fa-pencil-square status-icon-custom extra-trainer" aria-hidden="true"></i>
                </div>
                    <h1 class="statu-name-custom">
                    20+<br>
                    <small class="fw-light status-name-heading-custom">Trainers</small>
                </h1>
            </div>
        </div>
    </div>
    <!-- status row end -->
    <!-- chart and  recent notifiaction row -->
    <div class="row" style="margin-top: 40px;">
        <!-- chart colum  -->
        <div class="col-md-12 col-lg-6 earning-chart-colum-custom">
            <div class="earning-chart-div-custom">
                <h1 class="earning-heading-custom pt-2 pb-2">Earning</h1>            
                <img src="./assets/dashboard/chart-1.png" class="img-fluid">
            </div>
        </div>
        <!-- chart end -->
        <!-- recent colum -->
        <div class="col-lg-6 recent-colum-custom ">
            <div class="recent-div-custom">
                <h1 class="recent-heading-custom " >Recent notification</h1>    
                <button  type="button" class="btn btn-primary recent-btn-custom">View All </button>
            <div class="recent-inside-div">
                <div class="d-flex recent-top-custom">
                    <div class="">
                        <i class="fa fa-wrench recent-icon-custom extra-student bg-info" aria-hidden="true"></i>
                    </div>
                        <h1 class="recent-name-custom">
                          Update<br>
                        <small class="fw-light recent-name-heading-custom ">10:21 pm</small>
                    </h1>
                </div>     
                <span class="recent-timing-custom">3 Hourse ago</span>       
            </div>
            <div class="recent-inside-div">
                <div class="d-flex recent-top-custom">
                    <div class="">
                        <i class="fa fa-link recent-icon-custom extra-student bg-success" aria-hidden="true"></i>
                    </div>
                        <h1 class="recent-name-custom">
                        Launch Admin<br>
                        <small class="fw-light recent-name-heading-custom ">11:43 pm</small>
                    </h1>
                </div>     
                <span class="recent-timing-custom">3 Hourse ago</span>       
            </div>
            <div class="recent-inside-div" style="border: none;">
                <div class="d-flex recent-top-custom">
                    <div class="">
                        <i class="fa fa-cogs recent-icon-custom extra-student bg-danger" aria-hidden="true"></i>
                    </div>
                        <h1 class="recent-name-custom">
                        Settings<br>
                        <small class="fw-light recent-name-heading-custom ">3:37 am</small>
                    </h1>
                </div>     
                <span class="recent-timing-custom">3 Hourse ago</span>       
            </div>
        </div>
    </div>
    <!-- recent cloum end -->
    <!-- student quries  -->
    <div class="row" style="margin-top: 40px;">
        <div class="col-lg-8 student-queries-colum-custom">
            <div class="student-quries-inside-div-custom">
                <h1 class="std-quries-top-heading-custom">Student Queries</h1>
                <div  class="queriess-div">
                    <div class=" mt-4 pl-5 d-flex">
                        <img src="./assets/dashboard/person.jpg" class="std-qries-img-custom" alt="">
                        <h1 class="img-heading-custom">Angular
                            <br><span class="img-name-custom">By Jack Herry</span>
                        </h1>
                    </div>
                    <div  class="delete-and-accept-div">
                        <span class="delete-btn">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <span class="accept-btn">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div  class="queriess-div">
                    <div class=" mt-4 pl-5 d-flex">
                        <img src="./assets/dashboard/person.jpg" class="std-qries-img-custom" alt="">
                        <h1 class="img-heading-custom">React Js
                            <br><span class="img-name-custom">By Jack Herry</span>
                        </h1>
                    </div>
                    <div  class="delete-and-accept-div">
                        <span class="delete-btn">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <span class="accept-btn">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div  class="queriess-div">
                    <div class=" mt-4 pl-5 d-flex">
                        <img src="./assets/dashboard/person.jpg" class="std-qries-img-custom" alt="">
                        <h1 class="img-heading-custom">Python
                            <br><span class="img-name-custom">By Jack Herry</span>
                        </h1>
                    </div>
                    <div  class="delete-and-accept-div">
                        <span class="delete-btn">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <span class="accept-btn">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div  class="queriess-div">
                    <div class=" mt-4 pl-5 d-flex">
                        <img src="./assets/dashboard/person.jpg" class="std-qries-img-custom" alt="">
                        <h1 class="img-heading-custom">Laravel
                            <br><span class="img-name-custom">By Jack Herry</span>
                        </h1>
                    </div>
                    <div  class="delete-and-accept-div">
                        <span class="delete-btn">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <span class="accept-btn">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div style="border: none;" class="queriess-div">
                    <div class=" mt-4 pl-5 d-flex">
                        <img src="./assets/dashboard/person.jpg" class="std-qries-img-custom" alt="">
                        <h1 class="img-heading-custom">Node Js
                            <br><span class="img-name-custom">By Jack Herry</span>
                        </h1>
                    </div>
                    <div  class="delete-and-accept-div">
                        <span class="delete-btn">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <span class="accept-btn">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div> 
        </div>
        <!-- student quries end -->
        <!-- balance colum  -->
        <div class="col-lg-4 balance-colum-custom">
            <div class="balance-inside-div-custom">
                <h1 class="balance-top-heading-custom">Balance</h1>
                <h1 class="avlbe-blnce-heading-custom">Available Balance</h1>
                <span class="avlbe-blnce-custom">$72,357</span>
                <div class="blnce-info-div-custom">
                    <h1 class=" blnce-info-heading-1-custom">Today`s Earn</h1>
                    <span class="blnce-go-icon-custom">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                    <h1 class="blnce-info-heading-2-custom">$10,356</h1>
                </div>
                <div class="blnce-info-div-custom">
                    <h1 class=" blnce-info-heading-1-custom">Under Review</h1>
                    <span class="blnce-go-icon-custom">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                    <h1 class="blnce-info-heading-2-custom">$1,471</h1>
                </div>
                <div class="blnce-info-div-custom">
                    <h1 class=" blnce-info-heading-1-custom">Pending</h1>
                    <span class="blnce-go-icon-custom">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                    <h1 class="blnce-info-heading-2-custom">$3,723</h1>
                </div>
                <div class="blnce-info-div-custom">
                    <h1 class=" blnce-info-heading-1-custom">Withdraw</h1>
                    <span class="blnce-go-icon-custom">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                    <h1 class="blnce-info-heading-2-custom">$66,103</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- ba;amce colum end -->
</div>
<!-- container end  -->
