<div class="container-fluid">
    <h1 class="top-page-name-custom">Wallet</h1>
    <div class="row">
        <div class="col-md-12 col-lg-8 profile-vsitor-chart-colum-custom">
            <div class="profile-visitor-chart-div-custom">
                <h1 class="profile-visitor-heading-custom pt-2 pb-2">Profile Visitors</h1>            
                <img src="./assets/wallet/chart.png" class="img-fluid">
            </div>
        </div>
         <!-- top sale start -->
        <div class="col-lg-4 top-sale-media">
            <h1 class="top-sale-top-heading-custom">Top Sale</h1>
            <div class="d-flex top-sale-out-div-custom">
                <div>
                    <img src="./assets/wallet/wallet-img-1.png" class="top-sale-colum-img-custom">
                </div>
                <div style="padding-left: 8px;" class="w-100">
                    <h1 class="top-sale-names-heading-custom-1">HTML</h1>
                    <span class="top-sale-numbers-custom">335</span>
                    <h1 class="top-sale-names-heading-custom-2">Front End Development</h1>
                </div>
            </div>
            <div class="d-flex top-sale-out-div-custom">
                <div>
                    <img src="./assets/wallet/wallet-img-2.png" class="top-sale-colum-img-custom">
                </div>
                <div style="padding-left: 8px;" class="w-100">
                    <h1 class="top-sale-names-heading-custom-1">Python</h1>
                    <span class="top-sale-numbers-custom">280</span>
                    <h1 class="top-sale-names-heading-custom-2">back End Development</h1>
                </div>
            </div>
            <div class="d-flex top-sale-out-div-custom">
                <div>
                    <img src="./assets/wallet/wallet-img-3.png" class="top-sale-colum-img-custom">
                </div>
                <div style="padding-left: 8px;" class="w-100">
                    <h1 class="top-sale-names-heading-custom-1">Angular</h1>
                    <span class="top-sale-numbers-custom">199</span>
                    <h1 class="top-sale-names-heading-custom-2">Front End Development</h1>
                </div>
            </div>
            <div class="d-flex top-sale-out-div-custom">
                <div>
                    <img src="./assets/wallet/wallet-img-4.png" class="top-sale-colum-img-custom">
                </div>
                <div style="padding-left: 8px;" class="w-100">
                    <h1 class="top-sale-names-heading-custom-1">Node Js</h1>
                    <span class="top-sale-numbers-custom">135</span>
                    <h1 class="top-sale-names-heading-custom-2">Back End Development</h1>
                </div>
            </div>
        </div>
         <!-- top sale end -->
    </div>
    <!-- my balance start  -->
    <div class="row" style="margin-top: 50px;">
        <div class="col-lg-6">
            <div class="balance-out-div-custom">
                <h1 class="balance-top-heading-custom">My Balance</h1>
                <div class="available-blance-out-div-custom">
                    <div class="d-flex">
                        <div>
                            <h1 class="available-balance-heading-1">Available</h1>
                            <h1 class="available-balance-heading-2">$1275</h1>
                        </div>
                        <div style="padding-left: 80px;">
                            <h1 class="available-balance-heading-1">Income</h1>
                            <h1 class="available-balance-heading-2 color-custom">3652
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </h1>
                        </div>
                    </div>
                    <div class="balance-percent-div-custom w-100">
                        <h1 class="percent-number-custom">50%</h1>
                        <div class="percent-fill-custom-1"></div>
                    </div>
                </div>
                <div class="available-blance-out-div-custom">
                    <div class="d-flex">
                        <div>
                            <h1 class="available-balance-heading-1">Pending</h1>
                            <h1 class="available-balance-heading-2">$1204</h1>
                        </div>
                        <div style="padding-left: 80px;">
                            <h1 class="available-balance-heading-1">Withdraw</h1>
                            <h1 class="available-balance-heading-2 color-custom">2300
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </h1>
                        </div>
                    </div>
                    <div class="balance-percent-div-custom w-100">
                        <h1 class="percent-number-custom">73%</h1>
                        <div class="percent-fill-custom-2"></div>
                    </div>
                </div>    
            </div>        
        </div>
        <!-- my balance end  -->
        <!-- payout withdrawal start -->
        <div class="col-lg-6 payout-media">
                <h1 class="payout-top-heading-custom">Payout Withdrawal</h1>
                <span class="metthod-heading-custom">Withdrawal Method</span>
            <div class="d-flex payout-out-div-custom">
                <div>
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <div style="padding-left: 8px;" class="w-100">
                    <h1 class="payout-names-heading-custom-1">$1257</h1>
                    <button class="payout-btn-custom btn">View Detail</button>
                    <h1 class="payout-heading-custom-2">June 25,2022 10 PM</h1>
                </div>
            </div>
            <div class="d-flex payout-out-div-custom">
                <div>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div style="padding-left: 8px;" class="w-100">
                    <h1 class="payout-names-heading-custom-1">$1257</h1>
                    <button class="payout-btn-custom btn">View Detail</button>
                    <h1 class="payout-heading-custom-2">June 25,2022 10 PM</h1>
                </div>
            </div>
            <div class="d-flex payout-out-div-custom">
                <div>
                    <h1 class="fa fa-question" aria-hidden="true"></h1>
                </div>
                <div style="padding-left: 8px;" class="w-100">
                    <h1 class="payout-names-heading-custom-1">$1257</h1>
                    <button class="payout-btn-custom btn">View Detail</button>
                    <h1 class="payout-heading-custom-2">June 25,2022 10 PM</h1>
                </div>
            </div>
        </div>
        <!-- payout withdrawal start -->
    </div>
</div>