<div class="container-fluid">
    <h1 class="top-page-name-custom">Board</h1>
    <!-- board headings start -->
    <div class="row heading-row">
        <div class="col-lg-4">
            <h1 class="board-top-heading-custom">Course Name</h1>
        </div>
        <div class="col-lg-2">
            <h1 class="board-top-heading-custom">Category</h1>
        </div>
        <div class="col-lg-2">
            <h1 class="board-top-heading-custom">Ranking</h1>
        </div>
        <div class="col-lg-2">
            <h1 class="board-top-heading-custom">Impression</h1>
        </div>
        <div class="col-lg-1">
            <h1 class="board-top-heading-custom">Sales</h1>   
        </div>
        <div class="col-lg-1">
            <h1 class="board-top-heading-custom">Earning</h1>
        </div>
    </div>
    <!-- board heading end -->
    <!-- angular start -->
    <div class="row board-horizental-row-custom">
            <div class="col-lg-4 d-flex">
                <img src="./assets/board/board-img-1.png" class="board-img-custom">
                <h1 class="course-name-heading-custom">Angular</h1>
            </div>
            <div class="col-lg-2">
                <h1 class="category-heading-custom">Front End Development</h1>
            </div>
            <div class="col-lg-2 d-flex">
                <i class="fa fa-star ranking-icon-custom"></i>
                <h1 class="ranking-heading-custom">3.25</h1>
            </div>
            <div class="col-lg-2">
                <h1 class="impression-heading-custom">1026</h1>
            </div>
            <div class="col-lg-1">
                <h1 class="sales-heading-custom">1945</h1>   
            </div>
            <div class="col-lg-1">
                <h1 class="earning-heading-custom">$32,675</h1>
            </div>
        </div>
    <!-- angular end -->
    <!-- html start -->
    <div class="row board-horizental-row-custom">
        <div class="col-lg-4 d-flex">
            <img src="./assets/board/board-img-2.png" class="board-img-custom">
            <h1 class="course-name-heading-custom">HTML</h1>
        </div>
        <div class="col-lg-2">
            <h1 class="category-heading-custom">Front End Development</h1>
        </div>
        <div class="col-lg-2 d-flex">
            <i class="fa fa-star ranking-icon-custom"></i>
            <h1 class="ranking-heading-custom">4.01</h1>
        </div>
        <div class="col-lg-2">
            <h1 class="impression-heading-custom">1534</h1>
        </div>
        <div class="col-lg-1">
            <h1 class="sales-heading-custom">3281</h1>   
        </div>
        <div class="col-lg-1">
            <h1 class="earning-heading-custom">$48,005</h1>
        </div>
    </div>
<!-- html end -->
<!-- python start -->
<div class="row board-horizental-row-custom">
    <div class="col-lg-4 d-flex">
        <img src="./assets/board/board-img-3.png" class="board-img-custom">
        <h1 class="course-name-heading-custom">python</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="category-heading-custom">Back End Development</h1>
    </div>
    <div class="col-lg-2 d-flex">
        <i class="fa fa-star ranking-icon-custom"></i>
        <h1 class="ranking-heading-custom">3.89</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="impression-heading-custom">1236</h1>
    </div>
    <div class="col-lg-1">
        <h1 class="sales-heading-custom">2579</h1>   
    </div>
    <div class="col-lg-1">
        <h1 class="earning-heading-custom">$40,264</h1>
    </div>
</div>
<!-- python end -->
<!-- node js start -->
<div class="row board-horizental-row-custom">
    <div class="col-lg-4 d-flex">
        <img src="./assets/board/board-img-4.png" class="board-img-custom">
        <h1 class="course-name-heading-custom">Node Js</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="category-heading-custom">Back End Development</h1>
    </div>
    <div class="col-lg-2 d-flex">
        <i class="fa fa-star ranking-icon-custom"></i>
        <h1 class="ranking-heading-custom">2.33</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="impression-heading-custom">823</h1>
    </div>
    <div class="col-lg-1">
        <h1 class="sales-heading-custom">1803</h1>   
    </div>
    <div class="col-lg-1">
        <h1 class="earning-heading-custom">$25,302</h1>
    </div>
</div>
<!-- node js end -->
<!-- bootstrap start -->
<div class="row board-horizental-row-custom">
    <div class="col-lg-4 d-flex">
        <img src="./assets/board/board-img-5.png" class="board-img-custom">
        <h1 class="course-name-heading-custom">Bootstrap</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="category-heading-custom">Front End Development</h1>
    </div>
    <div class="col-lg-2 d-flex">
        <i class="fa fa-star ranking-icon-custom"></i>
        <h1 class="ranking-heading-custom">2.11</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="impression-heading-custom">734</h1>
    </div>
    <div class="col-lg-1">
        <h1 class="sales-heading-custom">1458</h1>   
    </div>
    <div class="col-lg-1">
        <h1 class="earning-heading-custom">$22,477</h1>
    </div>
</div>
<!-- bootstrap end -->
<!-- react start -->
<div class="row board-horizental-row-custom">
    <div class="col-lg-4 d-flex">
        <img src="./assets/board/board-img-6.png" class="board-img-custom">
        <h1 class="course-name-heading-custom">React</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="category-heading-custom">Back End Development</h1>
    </div>
    <div class="col-lg-2 d-flex">
        <i class="fa fa-star ranking-icon-custom"></i>
        <h1 class="ranking-heading-custom">3.56</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="impression-heading-custom">1123</h1>
    </div>
    <div class="col-lg-1">
        <h1 class="sales-heading-custom">2034</h1>   
    </div>
    <div class="col-lg-1">
        <h1 class="earning-heading-custom">$34,698</h1>
    </div>
</div>
<!-- react end -->
<!-- laravel start -->
<div class="row board-horizental-row-custom">
    <div class="col-lg-4 d-flex">
        <img src="./assets/board/board-img-7.png" class="board-img-custom">
        <h1 class="course-name-heading-custom">laravel</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="category-heading-custom">Back End Development</h1>
    </div>
    <div class="col-lg-2 d-flex">
        <i class="fa fa-star ranking-icon-custom"></i>
        <h1 class="ranking-heading-custom">2.04</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="impression-heading-custom">904</h1>
    </div>
    <div class="col-lg-1">
        <h1 class="sales-heading-custom">1851</h1>   
    </div>
    <div class="col-lg-1">
        <h1 class="earning-heading-custom">$29,223</h1>
    </div>
</div>
<!-- laravel end -->
<!-- php start -->
<div class="row board-horizental-row-custom">
    <div class="col-lg-4 d-flex">
        <img src="./assets/board/board-img-8.png" class="board-img-custom">
        <h1 class="course-name-heading-custom">PHP</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="category-heading-custom">Back End Development</h1>
    </div>
    <div class="col-lg-2 d-flex">
        <i class="fa fa-star ranking-icon-custom"></i>
        <h1 class="ranking-heading-custom">4.25</h1>
    </div>
    <div class="col-lg-2">
        <h1 class="impression-heading-custom">1842</h1>
    </div>
    <div class="col-lg-1">
        <h1 class="sales-heading-custom">2409</h1>   
    </div>
    <div class="col-lg-1 earning">
        <h1 class="earning-heading-custom">$51,008</h1>
    </div>
</div>
<!-- php end -->
<!-- board table verticle end -->

<!-- board table horizental start -->
    <div class="row verticle-row-custom">
        <!-- angular start -->
        <div class="col-lg-12 board-verticle-colum-custom">
            <div class="col-lg-4 d-flex">
                <img src="./assets/board/board-img-1.png" class="board-verticle-img-custom">
                <h1 class="boars-verticle-heading-custom">Angular</h1>
            </div>
            <div class="d-flex mt-3">      
                <div>
                    <h1 class="board-verticle-heading-custom">Category</h1>
                    <h1 class="board-verticle-heading-custom">Ranking</h1>
                    <h1 class="board-verticle-heading-custom">Impression</h1>
                    <h1 class="board-verticle-heading-custom">Sales</h1>
                    <h1 class="board-verticle-heading-custom">Earning</h1>
                </div>
                <div>
                    <h1 class="verticle-category-heading-custom">Front End Development</h1>
                    <h1 class="verticle-ranking-heading-custom d-flex"> 
                        <i class="fa fa-star verticle-ranking-icon-custom"></i>
                        3.25
                    </h1>
                    <h1 class="verticle-impression-heading-custom">1026</h1>
                    <h1 class="verticle-sales-heading-custom">1945</h1>
                    <h1 class="verticle-earning-heading-custom">32,675</h1>
                </div>
            </div>
        </div>
        <!-- angular end -->
        <!-- html start -->
        <div class="col-lg-12 board-verticle-colum-custom">
            <div class="col-lg-4 d-flex">
                <img src="./assets/board/board-img-2.png" class="board-verticle-img-custom">
                <h1 class="boars-verticle-heading-custom">HTML</h1>
            </div>
            <div class="d-flex mt-3">      
                <div>
                    <h1 class="board-verticle-heading-custom">Category</h1>
                    <h1 class="board-verticle-heading-custom">Ranking</h1>
                    <h1 class="board-verticle-heading-custom">Impression</h1>
                    <h1 class="board-verticle-heading-custom">Sales</h1>
                    <h1 class="board-verticle-heading-custom">Earning</h1>
                </div>
                <div>
                    <h1 class="verticle-category-heading-custom">Front End Development</h1>
                    <h1 class="verticle-ranking-heading-custom d-flex"> 
                        <i class="fa fa-star verticle-ranking-icon-custom"></i>
                        4.01
                    </h1>
                    <h1 class="verticle-impression-heading-custom">1534</h1>
                    <h1 class="verticle-sales-heading-custom">3281</h1>
                    <h1 class="verticle-earning-heading-custom">48,005</h1>
                </div>
            </div>
        </div>
        <!-- angular end -->
        <!-- python start -->
        <div class="col-lg-12 board-verticle-colum-custom">
            <div class="col-lg-4 d-flex">
                <img src="./assets/board/board-img-3.png" class="board-verticle-img-custom">
                <h1 class="boars-verticle-heading-custom">Python</h1>
            </div>
            <div class="d-flex mt-3">      
                <div>
                    <h1 class="board-verticle-heading-custom">Category</h1>
                    <h1 class="board-verticle-heading-custom">Ranking</h1>
                    <h1 class="board-verticle-heading-custom">Impression</h1>
                    <h1 class="board-verticle-heading-custom">Sales</h1>
                    <h1 class="board-verticle-heading-custom">Earning</h1>
                </div>
                <div>
                    <h1 class="verticle-category-heading-custom">Back End Development</h1>
                    <h1 class="verticle-ranking-heading-custom d-flex"> 
                        <i class="fa fa-star verticle-ranking-icon-custom"></i>
                        3.89
                    </h1>
                    <h1 class="verticle-impression-heading-custom">1236</h1>
                    <h1 class="verticle-sales-heading-custom">2579</h1>
                    <h1 class="verticle-earning-heading-custom">40,264</h1>
                </div>
            </div>
        </div>
        <!-- python end -->
        <!-- node js start -->
        <div class="col-lg-12 board-verticle-colum-custom">
            <div class="col-lg-4 d-flex">
                <img src="./assets/board/board-img-4.png" class="board-verticle-img-custom">
                <h1 class="boars-verticle-heading-custom">Node Js</h1>
            </div>
            <div class="d-flex mt-3">      
                <div>
                    <h1 class="board-verticle-heading-custom">Category</h1>
                    <h1 class="board-verticle-heading-custom">Ranking</h1>
                    <h1 class="board-verticle-heading-custom">Impression</h1>
                    <h1 class="board-verticle-heading-custom">Sales</h1>
                    <h1 class="board-verticle-heading-custom">Earning</h1>
                </div>
                <div>
                    <h1 class="verticle-category-heading-custom">Back End Development</h1>
                    <h1 class="verticle-ranking-heading-custom d-flex"> 
                        <i class="fa fa-star verticle-ranking-icon-custom"></i>
                        2.33
                    </h1>
                    <h1 class="verticle-impression-heading-custom">823</h1>
                    <h1 class="verticle-sales-heading-custom">1803</h1>
                    <h1 class="verticle-earning-heading-custom">25,302</h1>
                </div>
            </div>
        </div>
        <!-- node js end -->
        <!-- bootstrap start -->
        <div class="col-lg-12 board-verticle-colum-custom">
            <div class="col-lg-4 d-flex">
                <img src="./assets/board/board-img-5.png" class="board-verticle-img-custom">
                <h1 class="boars-verticle-heading-custom">Bootstrap</h1>
            </div>
            <div class="d-flex mt-3">      
                <div>
                    <h1 class="board-verticle-heading-custom">Category</h1>
                    <h1 class="board-verticle-heading-custom">Ranking</h1>
                    <h1 class="board-verticle-heading-custom">Impression</h1>
                    <h1 class="board-verticle-heading-custom">Sales</h1>
                    <h1 class="board-verticle-heading-custom">Earning</h1>
                </div>
                <div>
                    <h1 class="verticle-category-heading-custom">Front End Development</h1>
                    <h1 class="verticle-ranking-heading-custom d-flex"> 
                        <i class="fa fa-star verticle-ranking-icon-custom"></i>
                        2.11
                    </h1>
                    <h1 class="verticle-impression-heading-custom">734</h1>
                    <h1 class="verticle-sales-heading-custom">1458</h1>
                    <h1 class="verticle-earning-heading-custom">22,477</h1>
                </div>
            </div>
        </div>
        <!-- bootstrap end -->
        <!-- react start -->
        <div class="col-lg-12 board-verticle-colum-custom">
            <div class="col-lg-4 d-flex">
                <img src="./assets/board/board-img-6.png" class="board-verticle-img-custom">
                <h1 class="boars-verticle-heading-custom">React</h1>
            </div>
            <div class="d-flex mt-3">      
                <div>
                    <h1 class="board-verticle-heading-custom">Category</h1>
                    <h1 class="board-verticle-heading-custom">Ranking</h1>
                    <h1 class="board-verticle-heading-custom">Impression</h1>
                    <h1 class="board-verticle-heading-custom">Sales</h1>
                    <h1 class="board-verticle-heading-custom">Earning</h1>
                </div>
                <div>
                    <h1 class="verticle-category-heading-custom">Back End Development</h1>
                    <h1 class="verticle-ranking-heading-custom d-flex"> 
                        <i class="fa fa-star verticle-ranking-icon-custom"></i>
                        3.56
                    </h1>
                    <h1 class="verticle-impression-heading-custom">1123</h1>
                    <h1 class="verticle-sales-heading-custom">2034</h1>
                    <h1 class="verticle-earning-heading-custom">34,698</h1>
                </div>
            </div>
        </div>
        <!-- reactt end -->
        <!-- laravel start -->
        <div class="col-lg-12 board-verticle-colum-custom">
            <div class="col-lg-4 d-flex">
                <img src="./assets/board/board-img-7.png" class="board-verticle-img-custom">
                <h1 class="boars-verticle-heading-custom">Laravel</h1>
            </div>
            <div class="d-flex mt-3">      
                <div>
                    <h1 class="board-verticle-heading-custom">Category</h1>
                    <h1 class="board-verticle-heading-custom">Ranking</h1>
                    <h1 class="board-verticle-heading-custom">Impression</h1>
                    <h1 class="board-verticle-heading-custom">Sales</h1>
                    <h1 class="board-verticle-heading-custom">Earning</h1>
                </div>
                <div>
                    <h1 class="verticle-category-heading-custom">Back End Development</h1>
                    <h1 class="verticle-ranking-heading-custom d-flex"> 
                        <i class="fa fa-star verticle-ranking-icon-custom"></i>
                        2.04
                    </h1>
                    <h1 class="verticle-impression-heading-custom">904</h1>
                    <h1 class="verticle-sales-heading-custom">1851</h1>
                    <h1 class="verticle-earning-heading-custom">29,223</h1>
                </div>
            </div>
        </div>
        <!-- laravel end -->
        <!-- php start -->
        <div class="col-lg-12 board-verticle-colum-custom">
            <div class="col-lg-4 d-flex">
                <img src="./assets/board/board-img-8.png" class="board-verticle-img-custom">
                <h1 class="boars-verticle-heading-custom">PHP</h1>
            </div>
            <div class="d-flex mt-3">      
                <div>
                    <h1 class="board-verticle-heading-custom">Category</h1>
                    <h1 class="board-verticle-heading-custom">Ranking</h1>
                    <h1 class="board-verticle-heading-custom">Impression</h1>
                    <h1 class="board-verticle-heading-custom">Sales</h1>
                    <h1 class="board-verticle-heading-custom">Earning</h1>
                </div>
                <div>
                    <h1 class="verticle-category-heading-custom">Back End Development</h1>
                    <h1 class="verticle-ranking-heading-custom d-flex"> 
                        <i class="fa fa-star verticle-ranking-icon-custom"></i>
                        4.25
                    </h1>
                    <h1 class="verticle-impression-heading-custom">1842</h1>
                    <h1 class="verticle-sales-heading-custom">2409</h1>
                    <h1 class="verticle-earning-heading-custom">51,008</h1>
                </div>
            </div>
        </div>
        <!-- php end -->

    </div>
<!-- board table horizental end -->
</div>