*{
    padding: 0px;
    margin: 0px;
}
.sidebar-out-div-custom{
    transition: 500ms;
}
.toggler-icon-custom{
    width: 26px;
    color:  rgb(180, 180, 187);
    margin-top: 22px;
    margin-left: -22px;
    /* margin-left: -16px; */
    font-size: 18px;
    cursor: pointer;
    border-radius: 100px;
    transition: 500ms;
    position: fixed;
    margin-top: -36px;
}
.toggler-icon-custom:hover{
   color: white;
}
.sidebar-links-ul-custom{
    background-color: rgb(6, 5, 34);
    list-style-type: none;
    padding: 10px; 
    min-height: 100vh;
    border-top: 0.1px solid rgb(134, 134, 140);
    /* box-shadow: 0px 0px 10px 0px black;   */
}
.sidebar-links-ul-li-custom{ 
    padding: 3px;
    padding-left: 15px;
    padding-right: 155px;
    padding-bottom: 7px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    color: rgb(134, 134, 140);
    cursor: pointer;
}
.sidebar-links-name-custom{
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    margin-top: 10px;
}
.fa-tachometer,
.fa-address-card-o,
.fa-graduation-cap,
.fa-book,
.fa-suitcase,
.fa-user,
.fa-cloud-upload,
.fa-align-center{
    width: 40px;
    text-align: center;
}
.active{
    background-color: rgb(233, 234, 237);
}

    /* media queries */
@media screen and (max-width: 992px){
    .toggler-icon-custom{
        margin-left: 9px;
    }  
    .sidebar-out-div-custom-2{
        display:none;
    }
    /* .sidebar-links-ul-custom{
        display: none
    } */
};